




*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#609ED4;
    height: 100vh;
    width: 100vh;
}

.header-logo{
display: flex;
position: fixed;
margin-top: 2%;
margin-left: 0%;
width: 10%;
}

main{
display: flex;   
flex-direction: row;
gap: 200px; 
width: 100%;
height: 100%;
}
.encriptar_desencriptar{
width: 100%;
margin-top: 15%;
margin-left: 15%;
}
    
.texto-ingresado{

width:150% ;
height:60% ;
text-align: justify;
background-color: #609ED4;
color: #0A3871;
border: none;
text-transform: lowercase;
font-family: Inter;
font-size: 2rem;
font-weight: 400;
line-height: 3rm;
text-align: left;
}
.texto-ingresado::placeholder{
color: #0A3871; 
}
.texto-ingresado:focus,
.texto-ingresado:active{
border: none;
outline: none;
}
  

.advertencia{
position: relative;
top: 50px;
}
.advertencia_a{
width: 100%;
height: 18px;
opacity: 0.8px;
font-family: Inter;
font-size: 0.7rem;
font-weight: 400;
line-height: 1rem;
text-align: left;
color:#060708
}

.botones{
display: flex;
gap: 80px;
position: relative;
top: 9.8%;
width: 150%;
}
.botonencriptar{
width: 100%;
text-align: center;
padding:24px;
font-weight: 400;
line-height: 1.25rem;
border-radius:24px;
font-size: 1rem;
color: aliceblue;
border: 2px solid #0A3871;
background-color: #0A3871;
}
.botonencriptar:hover{
    background-color: #5e5ce0;
}

.botondesencriptar{
width: 100%;
text-align: center;
padding:24px;
font-weight: 400;
line-height: 1.25rem;
border-radius:24px;
font-size: 1rem;
border: 2px solid  #0A3871;
background-color: rgb(196, 201, 206);
}
.botondesencriptar:hover{
background-color: rgb(92, 132, 172);
}


.respuesta_recibida{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    margin-top: 5%;
    height: 85%;
    width: 50%;
    margin-left: 40%;
    border-radius: 32px;
    box-shadow: 30px 24px 32px 30px  #0e070714;

}


.mensaje-solicitado{
    width:100%;
    height: 200%;
    margin-top: 10%;
    background-image: url(./fotos/Muñeco.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    background-position-y: 30%;

    background-color: aliceblue;
    border: none;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-align: left;
    
}
.mensaje-solicitado:focus,
.mensaje-solicitado:active{
border: none;
outline: none;
}

.titulo_parrafo{
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap:10px;
    margin-top: -40%;
    text-align: center;
    font-size: 1rem;
}

.copiar{
    justify-content: center;
}

.boton_copiar{
    display: flex;
    margin-top: 10%;
    justify-content: center;
    width: 300px;
    padding: 24px;
    border-radius: 24px;
    border: 2px solid ;
    font-weight: 400;
    line-height: 19.36px;
    font-size: 1rem;
    visibility: hidden;
}
.boton_copiar:hover{
    background-color: #0A3871;
}





footer{
    display: flex;
    flex-direction: row;

    position: fixed;
    justify-content: center;
    background-color: rgb(11, 88, 121);
    top: 90%;
    bottom: 0%;
    width: 100%;
    align-items: center;
    gap: 30px;
} 

footer p{
    color: aliceblue;
    font-family: "inter";
    font-size: 24px;
}
    
.contactos{
    display: flex;
    gap: 20px;
    vertical-align: baseline;

}
.link_1{
    position: relative;
    top: 20%;
}
.link_2{
    height: -50%;
}
.link_3{
    position: relative;
    top:20%;
}



/*tablet
@media(max-width:769px)
{
   .header-logo{
    width: 5%;
    height: 3%;
    top: 5%;
   left: 1%;
    gap: 0px;
    opacity: 0px;
   }


   main{
    display: flex;
    flex-direction: column;
    margin-left:3%;

   }
   
   .encriptar_desencriptar{
    margin-left: 3%;
    margin-top: 20%;
   }
   .texto-ingresado{
    width:62% ;
    height:260% ;
    margin-left: -3%;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    text-align: left;
    }
    .botones{
        gap: 40px;
        width: 63%;
        margin-left: -3%;
        margin-top: 5%;
    }
    .botonencriptar{
        width: 150%;
        font-size: 1.5rem;
    }
    .botondesencriptar{
        width: 150%;
        font-size: 1.5rem;
    }

    .advertencia{
    margin-left: -3%;
    }


    .respuesta_recibida{
        position: fixed;
        margin-left: 0px;
        top: 48%;
        height:28%;
        width: 60%;
        margin-top: 20%;
    }
    .mensaje-solicitado{
        width: 100%;
        background-image:none;
    }
    .titulo_parrafo{
        font-size: 20px;

    }
    
    .copiar{
        width: 100%;
    }
   .boton_copiar{
    width: 100%;
    margin-top: 25%;
    font-size: 1.5rem;
   }
   footer{
    width: 100%;
   }
   footer p{
    position: relative;
    color: aliceblue;
    font-family: "inter";
    font-size: 1.25rem;
   left: -18%;
   }
   .contactos{
    position: relative;
    left: -20%;
   }

}


/*CELULAR*/
@media(max-width:376px)
{
    header{
        width: 375px;
    }
   .header-logo{
    width: 5%;
    height: 3%;
    top: 5%;
    left: 1%;
    gap: 0px;
    opacity: 0px;
   }


   main{
    display: flex;
    flex-direction: column;
    margin-left:1%;
   }

   .encriptar_desencriptar{
    margin-top: 20%;
   }
   .texto-ingresado{
    width:auto;
    height:150% ;
    margin-left: -3%;
    margin-top: 20%;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    text-align: left;
    }
    
    .botones{
        
        flex-direction: column;
        gap: 40px;
        width: 100%;
        margin-left: -3%;
    }
    .botonencriptar{
        width: 37%;
        font-size: 1.5rem;
    }
    .botondesencriptar{
        width: 37%;
        font-size: 1.5rem;
    }


    .respuesta_recibida{
        position: fixed;
        margin-left: 0px;
        top: 57%;
        height:25%;
        width: 36.5%;
        margin-top: 20%;
    }
    .mensaje-solicitado{
        width: auto;
        background-image: none;
    }
    .titulo_parrafo{
        font-size:1.5rem;
        
    }
    
    .copiar{
        width: 100%;
    }
   .boton_copiar{
    width: 100%;
    margin-top: 25%;
    font-size: 1.5rem;
   }
   footer{
    width: auto;
   }
   footer p{
    width: auto;
    position: relative;
    color: aliceblue;
    font-family: "inter";
    font-size: 1rem;
   left: -20%;
   }
   .contactos{
    position: relative;
    width: auto;
    left: -43%;
    top: 20%;
   }

}

    
    
   
    
 